body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-size: 12px;

}

.list-category {
  margin-left: 0px;
  padding-top: 10px;
}

.navbar {
  margin-right: 0px;
}

.list-category__item {
  background-color: #FEFEE4;
  font-size: 22px;
  font-family: 'Open Sans';
  cursor: default;
  color: #838ea7;
}

.product-item__image {
  border-radius: 4px;
  padding-top: 5px;
  margin: 10px;
  width: 171px;
  height: 180px;
}

.items-list {
  background-color: seashell;
  padding-top: 10px;
}

.button  {
  align-self: center;
  opacity: 0.5;
  margin: 5px 5px;
  width: 150px;
  height: 40px;
  background: #676470;
  color: #fff;
  font-family: Lato;
  font-weight: 20;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  transition: all 0.3s;
}

.input  {
  align-self: center;
  opacity: 0.5;
  margin: 5px 5px;
  width: 150px;
  height: 40px;
  font-family: Lato;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  transition: all 0.3s;
}


.button:hover {
  opacity:1;
}

.button:active, .button:focus {
  outline: none !important;
}
